/SDK/3435.si4project
/SDK/projects/bim/obj/
/SDK/projects/bim/lst/
/SDK/projects/bim/*.uvgui.*
/SDK/ble_stack/central/src/
/SDK/ble_stack/peripheral/src/


/SDK/projects/bim_central/obj/
/SDK/projects/bim_central/lst/
/SDK/projects/bim_central/*.uvgui.*

/SDK/projects/ble_app_ancs/obj/
/SDK/projects/ble_app_ancs/lst/
/SDK/projects/ble_app_ancs/*.uvgui.*
/SDK/projects/ble_app_ancs/output/app

/SDK/projects/ble_app_gatt/obj/
/SDK/projects/ble_app_gatt/lst/
/SDK/projects/ble_app_gatt/*.uvgui.*
/SDK/projects/ble_app_gatt/output/app


/SDK/projects/ble_app_gatt_muti_connect/obj/
/SDK/projects/ble_app_gatt_muti_connect/lst/
/SDK/projects/ble_app_gatt_muti_connect/*.uvgui.*
/SDK/projects/ble_app_gatt_muti_connect/output/app


/SDK/projects/ble_app_central/obj/
/SDK/projects/ble_app_central/lst/
/SDK/projects/ble_app_central/*.uvgui.*
/SDK/projects/ble_app_central/output/app

/SDK/projects/ble_app_gatt_128/obj/
/SDK/projects/ble_app_gatt_128/lst/
/SDK/projects/ble_app_gatt_128/*.uvgui.*
/SDK/projects/ble_app_gatt_128/output/app

/SDK/projects/ble_app_gatt_long_pdu_advertising/obj/
/SDK/projects/ble_app_gatt_long_pdu_advertising/lst/
/SDK/projects/ble_app_gatt_long_pdu_advertising/*.uvgui.*
/SDK/projects/ble_app_gatt_long_pdu_advertising/output/app

/SDK/projects/ble_app_gatt_muti_chars/obj/
/SDK/projects/ble_app_gatt_muti_chars/lst/
/SDK/projects/ble_app_gatt_muti_chars/*.uvgui.*
/SDK/projects/ble_app_gatt_muti_chars/output/app

/SDK/projects/ble_app_gatt_connected_advertising/obj/
/SDK/projects/ble_app_gatt_connected_advertising/lst/
/SDK/projects/ble_app_gatt_connected_advertising/*.uvgui.*
/SDK/projects/ble_app_gatt_connected_advertising/output/app

/SDK/projects/ble_app_mouse/obj/
/SDK/projects/ble_app_mouse/lst/
/SDK/projects/ble_app_mouse/*.uvgui.*
/SDK/projects/ble_app_mouse/output/app

/SDK/projects/ble_app_rc/obj/
/SDK/projects/ble_app_rc/lst/
/SDK/projects/ble_app_rc/*.uvgui.*
/SDK/projects/ble_app_rc/output/app

/SDK/projects/ble_app_wechat/obj/
/SDK/projects/ble_app_wechat/lst/
/SDK/projects/ble_app_wechat/*.uvgui.*
/SDK/projects/ble_app_wechat/output/app

/SDK/projects/ble_central_stack/obj/
/SDK/projects/ble_central_stack/lst/
/SDK/projects/ble_central_stack/*.uvgui.*
/SDK/projects/ble_central_stack/output/app

/SDK/projects/ble_peripheral_stack/obj/
/SDK/projects/ble_peripheral_stack/lst/
/SDK/projects/ble_peripheral_stack/*.uvgui.*
/SDK/projects/ble_peripheral_stack/output/app

/SDK/projects/rf_fcc_test/obj/
/SDK/projects/rf_fcc_test/lst/
/SDK/projects/rf_fcc_test/*.uvgui.*
/SDK/projects/rf_fcc_test/output/app

/SDK/projects/rf_pn9_test/obj/
/SDK/projects/rf_pn9_test/lst/
/SDK/projects/rf_pn9_test/*.uvgui.*

/SDK/projects/util/obj/
/SDK/projects/util/lst/
/SDK/projects/util/*.uvgui.*

/SDK/*.bak
/SDK/*.bk*
/SDK/*.IAB
/SDK/*.IAD
/SDK/*.IMB
/SDK/*.IMD
/SDK/*.PFI
/SDK/*.PO
/SDK/*.PR
/SDK/*.PRI
/SDK/*.PS
/SDK/*.SearchResults
/SDK/*.WK3
/SDK/*.sip_sym
/SDK/*.sip_xab
/SDK/*.sip_xad
/SDK/*.sip_xc
/SDK/*.sip_xf
/SDK/*.sip_xm
/SDK/*.sisc
/SDK/*.sip_xr
/SDK/*.sip_xsb
/SDK/*.sip_xsd
/SDK/*.siproj
/SDK/*.xml
/SDK/*.xml
